* {
    font-family: Muli, Helvetica, sans-serif;
}

body {
    background-color: #ECEFF1;
    margin-left: 20rem;
}
body > * {
    background-color: white;
    line-height: 1.6;
    padding: 2rem;
    max-width: 80%;
}

.sidebar,
.marginal,
.admonition.marginal {
  max-width: 18rem;
  border: none;
  background-color: #ECEFF1;
  margin: 0.5rem;
  margin-left: -22rem;
  padding: 0.5rem;
  position:fixed;
  clear: left;
  float: left;
}
.sidebar {
  width: -20%;
}

div.topic.contents ul {
    list-style-type: none;
}
div.topic.contents a {
    text-decoration: none;
    color: inherit;
}

a.toc-backref {
    text-decoration: none;
    color: inherit;
}

p.subtitle a {
    text-decoration: none;
    color: inherit;
}

table {
    border-collapse: collapse;
}

.header {
    background-color: #5C6BC0;
    color: white;
    margin:0;

}

.header strong {
    font-size: 3em;
}